doctype html
html
  head
    title Test Application
    link(rel="stylesheet", href="/styles.css")
  body
    form(action="/submit" method="POST")
      input(type="text" name="name" placeholder="Name")
      input(type="text" name="email" placeholder="Email")
      input(type="text" name="company" placeholder="Company")
      button(type="submit") Submit
    script(src="/app.js")