doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    title Flux Visitor App
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="icon", href="/images/favicon.png")
    script(src="/js/main.js")
  body 
    h1= title
    div#messages
      p= message

    if showForm
      form(action="/submit" method="POST")
        
        label(for="firstName") First Name
        input#firstName(type="text" name="FirstName" required)

        label(for="lastName") Last Name
        input#lastName(type="text" name="LastName" required)

        label(for="email") Email
        input#email(type="email" name="Email" required)

        label(for="company") Company
        input#email(type="company" name="company__c" required)

        label(for="Here to see") Seeing
        select#company(name="Source__c" required)
          option(value="") -- Please who you are here to see --
          option(value="MCR") MCR
          option(value="Richard") Richard
          option(value="Steve") Steve

        button(type="submit") Submit
